# Lesson 3 Exercise 1: Three Queries Three Tables
<img src="images/cassandralogo.png" width="250" height="250">

### Walk through the basics of creating a table in Apache Cassandra, inserting rows of data, and doing a simple CQL query to validate the information. You will practice Denormalization, and the concept of 1 table per query, which is an encouraged practice with Apache Cassandra. 

### Remember, replace ##### with your answer.


Note: __Do not__ click the blue Preview button at the bottom

#### We will use a python wrapper/ python driver called cassandra to run the Apache Cassandra queries. This library should be preinstalled but in the future to install this library you can run this command in a notebook to install locally: 
! pip install cassandra-driver
#### More documentation can be found here:  https://datastax.github.io/python-driver/

#### Import Apache Cassandra python package

In [9]:
import cassandra

### Create a connection to the database

In [10]:
from cassandra.cluster import Cluster
try: 
    cluster = Cluster(['127.0.0.1']) #If you have a locally installed Apache Cassandra instance
    session = cluster.connect()
except Exception as e:
    print(e)

### Create a keyspace to work in

In [11]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS udacity 
    WITH REPLICATION = 
    { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
)

except Exception as e:
    print(e)

#### Connect to our Keyspace. Compare this to how we had to create a new session in PostgreSQL.

In [12]:
try:
    session.set_keyspace('udacity')
except Exception as e:
    print(e)

### Let's imagine we would like to start creating a Music Library of albums. 

### We want to ask 3 questions of the data
#### 1. Give every album in the music library that was released in a given year
`select * from music_library WHERE YEAR=1970`
#### 2. Give every album in the music library that was created by a given artist  
`select * from artist_library WHERE artist_name="The Beatles"`
#### 3. Give all the information from the music library about a given album
`select * from album_library WHERE album_name="Close To You"`

### Because we want to do three different queries, we will need different tables that partition the data differently. 
<img src="images/table1.png" width="350" height="350">
<img src="images/table2.png" width="350" height="350">
<img src="images/table0.png" width="550" height="550">

### TO-DO: Create the tables.

In [14]:
query = "CREATE TABLE IF NOT EXISTS music_library"
query = query + "(year int, artist_name text, album_name text, PRIMARY KEY(year, artist_name))"
try:
    session.execute(query)
except Exception as e:
    print(e)
    
query1 = "CREATE TABLE IF NOT EXISTS artist_library"
query1 = query1 + "(artist_name text, album_name text, year int, PRIMARY KEY(year, artist_name))"
try:
    session.execute(query1)
except Exception as e:
    print(e)

query2 = "CREATE TABLE IF NOT EXISTS album_library"
query2 = query2 + "(album_name text, artist_name text, year int, PRIMARY KEY(year, album_name))"
try:
    session.execute(query2)
except Exception as e:
    print(e)

### TO-DO: Insert data into the tables

In [22]:
def insertData(query, values):
    try:
        session.execute(query, (values[0], values[1], values[2]))
        return "Done"
    except Exception as e:
        print(e)

In [24]:
query = "INSERT INTO music_library (year, artist_name, album_name) VALUES (%s, %s, %s)"

query1 = "INSERT INTO artist_library (artist_name, album_name, year) VALUES (%s, %s, %s)"

query2 = "INSERT INTO album_library (album_name, artist_name, year) VALUES (%s, %s, %s)"

insertData(query, [1970, "The Beatles", "Let it Be"])
insertData(query, [1965, "The Beatles", "Rubber Soul"])
insertData(query, [1965, "The Who", "My Generation"])
insertData(query, [1966, "The Monkees", "The Monkees"])
insertData(query, [1970, "The Carpenters", "Close To You"])

insertData(query1, ["The Beatles", "Let it Be", 1970])
insertData(query1, ["The Beatles", "Rubber Soul", 1965])
insertData(query1, ["The Who", "My Generation", 1965])
insertData(query1, ["The Monkees", "The Monkees", 1966])
insertData(query1, ["The Carpenters", "Close To You", 1970])
    
insertData(query2, ["Let it Be", "The Beatles", 1970])
insertData(query2, ["Rubber Soul", "The Beatles", 1965])
insertData(query2, ["My Generation", "The Who", 1965])
insertData(query2, ["The Monkees", "The Monkees", 1966])
insertData(query2, ["Close To You", "The Carpenters", 1970])

'Done'

This might have felt unnatural to insert duplicate data into the tables. If I just normalized these tables, I wouldn't have to have extra copies! While this is true, remember there are no `JOINS` in Apache Cassandra. For the benefit of high availibity and scalabity, denormalization must be how this is done.

### TO-DO: Validate the Data Model

In [25]:
query = "select * from music_library WHERE year=1970"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.year, row.artist_name, row.album_name)

1970 The Beatles Let it Be
1970 The Carpenters Close To You

### Your output should be:
1970 The Beatles Let it Be<br>
1970 The Carpenters Close To You

### TO-DO: Validate the Data Model

In [30]:
query = "select * from artist_library WHERE artist_name='The Beatles' ALLOW FILTERING"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist_name, row.album_name, row.year)

The Beatles Rubber Soul 1965
The Beatles Let it Be 1970

### Your output should be:
The Beatles Rubber Soul 1965 <br>
The Beatles Let it Be 1970

### TO-DO: Validate the Data Model

In [35]:
query = "select * from album_library WHERE album_name='Close To You' ALLOW FILTERING"
try:
    rows = session.execute(query)
except Exception as e:
    print(e)
    
for row in rows:
    print (row.artist_name, row.year, row.album_name)

The Carpenters 1970 Close To You

### Your output should be:
The Carpenters 1970 Close To You

### And finally close the session and cluster connection

In [36]:
session.shutdown()
cluster.shutdown()